doctype html
html(lang="zh-cmn-Hans")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width,minimum-scale=1,maximum-scale=1")
    meta(name="format-detection", content="telephone=no,address=no,email=no")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-title", content="Palmap")
    title
      | iPalmap室内地图开放平台 - 图聚智能
    link(rel="stylesheet", href="https://ipalmap.com/statics/public/ngr/NGR.css")  
    link(rel="stylesheet", href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css")
    link(rel="stylesheet", href="https://ipalmap.com/statics/wall-e/latest/wall-e.min.css")
  style.
    #app {
      background: #eee;
    }
  body
    #map
    script(src="https://downloads.ipalmap.com/sdks/js/latest/NGR.min.js")
    script(src="./public/js/jquery.min.js")
    script(src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js")
    script(src="./public/js/page.js")
    script(src="./public/js/ngr-control-fullscreen.js")
