doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width,minimum-scale=1,maximum-scale=1")
    meta(name="format-detection", content="telephone=no,address=no,email=no")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-title", content="Palmap")
    title
      | To do list
  body(onselectstart="return false")
      header
        h1 To Do List
      div(id="main")
        div(id="add-task")
          input(type="text",id="add-task-input",placeholder="add new task here",style="width:100%;height:50px")
        div(id="tasks")
          ul(id="task-list")
        div(id="task-control")
          div(id="info")
            span(id="task-count") 0 
            span  items left
          ul(id="filter-task")
            li
              a(id="all-tasks") All
            li
              a(id="active-tasks") Active
            li
              a(id="completed-tasks") Completed
            li
              a(id="clear-completed") Clear completed
      footer
      script(type="text/javascript",src="./app/helper.js")
      script(type="text/javascript",src="./app/store.js")
      script(type="text/javascript",src="./app/view.js")
      script(type="text/javascript",src="./app/mark.js")